<div class="mb-4 p-4">
  <p-card>
    <h2>{{ id ? 'Editar Funcionário' : 'Cadastro de Funcionários' }}</h2>

    <div class="grid mt-4">
      <div class="col-12 md:col-6">
        <label for="nome" class="block mb-2">Nome</label>
        <input id="nome" type="text" pInputText class="w-full" [(ngModel)]="nome" />
      </div>

      <div class="col-12 md:col-6">
        <label for="email" class="block mb-2">E-mail</label>
        <input id="email" type="email" pInputText class="w-full" [(ngModel)]="email" />
      </div>

      <div class="col-12 md:col-6">
        <label for="cargo" class="block mb-2">Cargo</label>
        <p-dropdown
          inputId="cargo"
          [options]="cargosTI"
          [(ngModel)]="cargo"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione um cargo"
          [editable]="true"
          class="w-full">
        </p-dropdown>
      </div>

      <div class="col-12 md:col-3">
        <label for="salario" class="block mb-2">Salário</label>
        <input id="salario" type="number" pInputText class="w-full" [(ngModel)]="salario" />
      </div>

      <div class="col-12 md:col-3">
<label for="dataAdmissao" class="block mb-2">Data de Admissão (dd/mm/aaaa)</label>
<p-datepicker
  inputId="dataAdmissao"
  [(ngModel)]="dataAdmissao"
  showIcon="true"
  dateFormat="dd/mm/yy"
  class="w-full">
</p-datepicker>

      </div>

      <div class="col-12">
        <label class="mr-2">Ativo?</label>
        <input type="checkbox" [(ngModel)]="ativo" />
      </div>
    </div>

    <div class="flex gap-2 mt-4 flex-wrap">
      <button pButton [label]="labelSalvar" icon="pi pi-save" (click)="salvar()"></button>
      <button pButton label="Cancelar" class="p-button-text" (click)="cancelar()"></button>
    </div>
  </p-card>
</div>
